<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to(omniauth_authorize_path(resource_name, provider), :class=>"btn btn-block btn-lg btn-success") do %>
    Log in with
    <span class="fui-facebook"></span>
    <% end %>
<% end -%>
<% end -%>
