
  <div class="col-md-1" id="favorite-column">
    <div class="panel" id="fav-problem-box">
      <%= link_to language_problem_path(favorite.language.slug, favorite.problem.slug), id: "fav-problem-text" do %>
        <%= "#{favorite.problem.problem_digit}" %>
        <span class="link-spanner"></span>
      <% end %>
    </div>
  </div>
