<div class="post-paginator">
  <div class="post-box panel margin-bottom" id="post-box">
    <%= render @posts %>
  </div>
  <center>
    <div id="paginator">
      <%= paginate @posts, remote: true %>
    </div>
  </center>
</div>

<!-- paginate (render :partial => 'posts/post', :collection => @posts, :as => 'post') -->