<li role="presentation">
  <a role="menuitem" tabindex="-1" href="#" class="inactive-link">
    <span class="glyphicon <%= user_status_icon(user) %>" aria-hidden="true"></span> - <%= user.full_name %>
  </a>
</li>
