<li role="presentation">
  <a role="menuitem" tabindex="-1" href="#" class="inactive-link">
    <span class="<%= user_status_icon(user) %>" aria-hidden="true">&#9679;</span><span class="user-name"> - <%= user.full_name %></span>
  </a>
</li>
