<%= form_for @language, :url => url_for(controller: 'user_progresses', action: "create") do |f| %>
  <div class="form-group">
    <%= f.label :language %>
    <%= f.collection_select :id, @languages, :id, :name, {}, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit "Add a track!", :class => "btn btn-primary", :id => "add-language-track" %>
  </div>
<% end %>