<div class="col-md-3 col-sm-6">
  <div class="language-panel">
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" <%= disabled %>>
        <div id="add-icon">
          <span class="fui-plus-circle"></span>
        </div>
        <div id="add-text">
          Add a Language
        </div>
      </button>
  </div>
</div>

