<div class="col-md-3 col-sm-6">
  <div class="language-panel">
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" <%= disabled %>>
        Add a Language
      </button>
  </div>
</div>

