<h1>Active Languages</h1>
<ol>
   <% @current_languages.each do |language| %>
  <li>
    <%= language.name %>
    <p> Completed Problems: <%= current_user.completed_problems(language).count %></p>
    <%= link_to "#{language.name} Path", progress_path(language.slug) %>
  </li>
    <% end %>
</ol>

