<h1>Active Languages</h1>
<ol>
  <li>
  <% @current_languages.each do |language| %>
    <%= language.name %>
    <p> Completed Problems: <%= current_user.completed_problems(language).count %></p>
    <%= link_to "#{language.name} Path", user_progress_path(current_user) %>
    <% end %>
  </li>
</ol>

