<%= link_to progress_path(language.slug) do %>
  <div class="language-panel col-md-3 col-sm-6">

    <%= language.name %>
    <p> Completed Problems: <%= current_user.completed_problems(language).count %></p>

  </div>
<%- end -%>
