<%= link_to progress_path(language.slug) do %>
  <div class="col-md-3 col-sm-6">
    <div class="language-panel">
    <%= language.name %>
    <p> Completed Problems: <%= current_user.completed_problems(language).count %></p>
    </div>
  </div>
<%- end -%>
