<div class="container">
  <div class="row top-pad">
    <div class="col-md-12">
      <div class="dark-panel">
        <div class="post-body" id="languages-text">
          <span id="languages-title">LANGUAGE TRACKS</span>
        </div>
      </div>
    </div>
  </div>
    
  <div class="row top-pad">
    <%= render :partial => 'users/list', :collection => @current_languages, :as => :language %>
    <%= render :partial => 'users/add_language'%>  
  </div>

</div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Available Tracks</h4>
        </div>
        <div class="modal-body">
          <%= render 'languages/form' %>
        </div>
      </div>
    </div>
  </div>
</div>
