<tr>
  <td><%= event.schedule.strftime(" %a, %m/%d at %l:%M%P") %></td>
  <td><%= link_to event.problem.shortened_name(40,40), language_problem_path(event.language, event.problem) %></td>
  <td><%= event.description %></td>
  <td><%= link_to "Room", problem_room_path(event.language, event.problem, event.room) %></td>
</tr>
