<div id="active-users" class="panel">
  <div class="center-text bold underline">Active Users</div>
  <div class="user-list">
    <%= render partial: 'rooms/user', collection: room.active_users, as: :user %>
  </div>
</div>