<div class="row">
  <div class="col-md-12">
    <div class="panel post-body">
      <%= form_for [@language, @problem, @post], remote: true, :url => problem_posts_path(@language, @problem) do |f| %>
        <div class="post-title form-group">
          <%= f.text_field :title, :placeholder => "Title",:class => "full-width", :id => "post-text-field" %>
        </div>

        <div class="post-content form-group">
        <%= f.text_area :content, :placeholder => "Preview button does not support fenced code blocks!", :rows => 10, :class => "full-width", :id => "post-text-area", data: { :"hidden-buttons" => ["cmdBold", "cmdItalic", "cmdHeading", "cmdUrl", "cmdImage", "cmdList", "cmdList0", "cmdCode", "cmdQuote"], provide: "markdown", :fullscreen => "" } %>
        </div>
        <%= f.submit "Create Post", :class => "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
