<div class = "col-md-9 col-md-offset-2">
    <%= render :partial => 'post_link', :collection => @posts, :as => :post %>
  <%= link_to 'Back', language_problem_path(@language.slug, @problem.slug) %>
</div>
