<% if flash[:success] %>
  <div id ="notice_wrapper">
    <p class="notice"><%= flash[:success] %></p>
  </div>
<% elsif flash[:alert] %>
  <div id="notice_wrapper">
    <p class="alert"><%= flash[:alert] %></p>
  </div>
<% end %>