<div class="container">
  <div class="row text-center team-label">
    <h2>Meet Our Team!</h2>
  </div>
  <div class="col-md-12 profile-box">
    <div class="col-md-4 text-center">
      <div class="profile-img">
        <%= image_tag "alex_g.png" %>
        <h4>Alex Goldvarg</h4>
        <p>Bushwick quinoa Wes Anderson sartorial kale chips, Banksy vinyl freegan Portland Etsy ethical YOLO jean shorts chambray. Stumptown pickled try-hard put a bird on it. Intelligentsia McSweeney's migas farm-to-table, distillery mumblecore biodiesel Brooklyn plaid Odd Future meh aesthetic. Stumptown Odd Future 3 wolf moon four dollar toast master cleanse authentic. Meditation church-key Helvetica butcher. </p>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="profile-img">
        <%= image_tag "seiji.jpg" %>
        <h4>Seiji Naganuma</h4>
        <p>Lomo Etsy semiotics, organic asymmetrical forage normcore High Life trust fund Pitchfork Wes Anderson pickled hella. Godard deep v cliche, mlkshk lumbersexual Austin pork belly retro. Fanny pack mlkshk 90's cliche Carles, Wes Anderson Kickstarter. Beard bicycle rights roof party, Austin bitters forage organic VHS chillwave small batch. Bushwick dreamcatcher typewriter flexitarian. </p>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="profile-img">
        <%= image_tag "alex_l.png" %>
        <h4>Alex Lee</h4>
        <p>Skateboard cliche swag, High Life raw denim craft beer small batch gentrify cardigan. Pickled Kickstarter health goth, pop-up sriracha whatever sartorial cliche. Locavore Williamsburg leggings art party single-origin coffee cronut. Plaid High Life 90's, gentrify fashion axe Vice hoodie.</p>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="row">
      <div class="panel panel-default panel-box">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
