<div class="container">
  <div class="row text-center team-label">
    <h2>Meet Our Team!</h2>
  </div>
  <div class="col-md-12 profile-box">
    <div class="col-md-4 text-center">
      <div class="profile-img">
        <%= image_tag "alex_l.png", :id => "alex_l" %>
        <h4>Alex Lee</h4>
        <p>"The skills get better from right to left"</p>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="profile-img">
        <%= image_tag "seiji.jpg", :id => "seiji" %>
        <h4>Seiji Naganuma</h4>
        <p>"Help! I'm stuck in an Alex sandwich!"</p>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="profile-img">
        <%= image_tag "alex_g.png", :id => "alex_g" %>
        <h4>Alex Goldvarg</h4>
        <p>"Don't believe anything Alex says"</p>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="row">
      <div class="panel panel-default panel-box">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
