/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ../../../vendor/assets/stylesheets/.
 *= require_self
 *= require bootstrap
 *= require flat-ui
 *= require user_registration
 *= require user_show
 *= require font-mfizz
 *= require login
 *= require problems
 *= require posts
 *= require forum
 *= require user_progress_show
 *= require messages
 *= require bootstrap-markdown
 *= require navbar


 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
 */

/* Some Style from the Bootstrap Default Theme */
body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.inner-bg{
  padding: 120px 0 170px 0;
}

.form-top {
  overflow: hidden;
  padding: 10px 25px 15px 25px;
  background: #444;
  background: rgba(0, 0, 0, 0.35);
  text-align: left;
}

.form-top-left {
  float: left;
  width: 75%;
  padding-top: 25px;
}

.form-top-right {
  float: left;
  width: 25%;
  padding-top: 5px;
  font-size: 70px;
  color: #fff;
  line-height: 100px;
  text-align: right;
  opacity: 0.3;
}
