.footer {
  margin-top: 20em;
  min-height: 9em;
  background:#333333;
  text-align: center;
  color: #666666;
}


.icon {
    list-style: outside none none;
    margin: 0px;
    padding: 0px;
    padding-bottom: 10px;
}

.icon li {
    display: inline;
    margin-right: 4px;
}

p#footer-title {
  margin-top: 15px;
}

.col-md-4.banner-right {
  border-right: solid;
  border-right-width: 1.5px;
}

.col-md-4.banner-both {
  border-right: solid;
  border-left: solid;
  border-left-width: 1.5px;
  border-right-width: 1.5px;
}

.fui-question-circle.big{
  font-size: 50px;
}

.col-md-3.question{
  display: block;
  margin: 50px auto;
}