.entry  {
          padding: 0px 32px 14px 0px;
          border-bottom: 1px solid #9E8E67;
          margin-left: 0;
          margin-bottom: 9px;
        }

fonts {
  font-size: 15px;
}

.question-font{
  font-size: 12px;
}

#button-padding {
  margin-left: 10px;
  margin-right: 10px;
}

h6.top-fix{
  margin-top: 0px;
}

br.small {
  line-height: 0px;
}

.pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
}

.pagination {
    padding-left: 140px;
    border-left: 1px solid #ddd;
    .first{
        padding : 0;
        float: none;
        border: none;
    }
    .prev {
        padding : 0;
        float: none;
        border: none;
    }
    .page{
        padding : 0;
        float: none;
        border: none;
    }
    .next{
        padding : 0;
        float: none;
        border: none;
    }
    .last{
        padding : 0;
        float: none;
        border: none;
    }
}

.post-padding{
  padding-right: 0px;
}

.button-padding{
  margin-left: 20px;
}