h3#login-page-head {
  text-align: center;
}

#modal-field {
  padding-bottom: 10px;
  border-radius: 5px; 
}

#login-btn-modal {
  font-size: 17px;
}

.line-thru {
  display: block;
  position: relative;
  text-align: center;  
  padding-top: 10px;
}

.navbar-brand {
  font-size: 30px;
}

a.nav-link {
  line-height: 25px;
  font-size: 20px;
  color: #CFD4D4;
}

