/* Main room css*/
#chatbox, #active-users {
  background-color: #fff;
  border-radius: 4px;
  height: 400px;
  overflow: auto;
}

.center-text {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

/* Chatbox content*/
.user-img {
  width: 15%;
}

.receive > * {
  float: left;
}

.send > * {
  float: right;
}

.message-content {
  width: 60%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.status-update {
  font-size: 20px
}

.message-input {
  padding: 5px 10px;
}