div#colab-buttons {
  padding: 5px;
}

div#status-buttons {
  padding: 5px;
}

div#problem-buttons {
  padding: 5px;
}

div#post-box {
  height: 500px;
}

#dropdownMenu3 {
  margin-right: 16px;
  margin-left: 6px;
}

div#bread-text {
  font-size: 28px;
}

div#bread-button {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 20px;
  background-color: #264348;
}

div.bread-crumb a {
  color: #fff;
}

div.bread-crumb a:hover {
  color: #17A68A;
}

div.panel {
  border-radius: 4px;
  background-color: #fff;
  height: 100%;
  padding: 10px;
}

div.panel.margin-bottom{
  margin-bottom: 0px;
}

div.bread-crumb,
div.problem-buttons {
  height: 80px;
}

.problem-buttons form {
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

div.problem-title {
  margin-bottom: 35px;
}

div.top-pad {
  padding-top: 25px;
}

.full-width {
  width: 100%;
}

div.problem-body{
  padding: 15px 55px;
}

body {
  background-color: #ECECEC;
}

#working > li > a {
  padding-top: 4px;
  padding-bottom: 0;
}

#working > li:last-child > a {
  padding-bottom: 8px;
}

.online {
  color: green;
  font-size: 27px;
}

.offline {
  color: gray;
  font-size: 27px;
}

.user-name {
  position: relative;
  top: -3px;
  left: 3px;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.panel-height {
  min-height: 80px;
}

ul#working {
  top: 37px;
  right: -52px;
  left: inherit;
}

ul#rooms{
  top: 37px;
  right: -52px;
  left: inherit;
}

ul#finished {
  top: 41px;
  right: -52px;
  left: inherit;
}

.chat-form-title {
  font-size: 20px;
}

.checkbox input[type="checkbox"] {
margin-top: 10px;
}

.problem-selector {
  margin-top: 25px;
}

.inactive-link {
  pointer-events: none;
  cursor: default;
}

div.center{
  text-align: center;
  min-height: 120px;
}

.col-md-3.collaborate-buttons{
  padding: 0 5px 2px;
}

.col-md-3.chatroom-button{
  padding: 0 13px 5px 0px;
}

#status-buttons{
  padding-right: 1px;
  padding-left: 0px;
}

#problem-buttons{
  padding-left: 1px;
  padding-right: 0px;
}

p#collab-text{
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 2.0rem;
  font-weight: 700;
  letter-spacing: 3px;
  text-align: center;
}

