p#pitch {
  font-size: 23px;
}

h4#sign-up-heading {
  font-size: 40px;
}

div#oops-field {
  padding-bottom: 10px;
}

#oops-field {
  border-radius: 5px;
}

.inner-bg{
  padding: 80px 0 170px 0;
}

.form-top {
  overflow: hidden;
  padding: 10px 25px 15px 25px;
  background: #CFD4D4;
  text-align: left;
}

.form-top-left {
  float: left;
  width: 75%;
  padding-top: 25px;
}

.form-top-right {
  float: left;
  width: 25%;
  padding-top: 5px;
  font-size: 70px;
  color: #fff;
  line-height: 100px;
  text-align: right;
  opacity: 0.3;
}

.left-padder {
  padding-left: 15px;
}

.description-text {
  padding: 150px 0;
}

@media (max-width: 990px) {
  .banner-both {
    border: none;
  }
}