hr {
  padding: 0px;
  margin-top: 6px;
  margin-bottom: 6px;
}

div#current-problem-link {
/*  position: relative;*/
}

div#favs {
  height: 136px;
}

div#favorite-column {
  padding-left: 2px;
  padding-right: 2px;
}

div#fav-problem-box:hover {
  transition-duration: .3s;
  opacity: .8;
}

#fav-problem-box {
  background-color: #3498db;
  text-align: center;
  position: relative;
  margin-bottom: 0px;
  padding: 0px;
  margin-top: 4px;
}

/*Important:*/
.link-spanner{
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;

  /* edit: fixes overlap error in IE7/8, 
     make sure you have an empty gif 
  background-image: url('empty.gif');*/
}   


#fav-problem-text {
  color: white;
}

div#current-problem-link {
  text-align: center;
  line-height: 56px;
  font-size: 40px;
}

a#current-problem-link-text {
  color: #34495E;
}

div#favorites-heading {
  padding-top: 12px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
}

a#favorites-heading {
  color: #34495E;
}

div#current-problem-panel {
  position: relative;
}

#languages-title {
  font-size: 28px;
}

#languages-text {
  /*text-align: center;*/
}

div#current-problem-panel:hover {
  transition-duration: .3s;
  background-color: #264348;
}

#current-problem-panel:hover #current-problem-link-text {
  color: #1ABC9C;
}


a#back-dashboard-link-text {
  color: #34495E;
}

#current-problem-panel:hover #back-dashboard-link-text {
  color: #1ABC9C;
}
