<% if signed_in? %>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
      <%= link_to "Tech-ing", root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "Welcome Back, Alex!", root_path %></li>
        <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
      </ul>
    </div>
  </nav>
<% end %>
